body {
    font-family: 'Roboto', sans-serif;
}
:root {
    --black: #000;
    --gray: #F7F7F7;
    --wiht: #fff;
    --orang: #FF4A32;
}
a {
    text-decoration: none;
}
h1,h2.h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
/* -- header-img -- */
.header-top-one {
    height: 30px;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top-one p {
    font-size: 12px;
    color: var(--wiht);
    font-family: 'Roboto';
    font-weight: 400;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
.header-menu__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu__nav ul {
    display: flex;
}
.header-menu__nav li {
    margin: 0 22px;
}
.header-menu__nav a {
    font-size: 14px;
    font-family: 'Roboto';
    color: var(--black);
    font-weight: 400;
    text-transform: uppercase;
}
.header-menu__total-img-nav {
    display: flex;
}
.header-menu__logo {
    margin-right: 125px;
}
.header-menu__icons {
    display: flex;
    align-items: center;
}
.header-menu__icons img:first-child {
    margin-right: 10px;
}
/* -- header-img -- */
.header-img {
    background: url(./img/Rectangle.png) center/cover no-repeat;
    min-height: 810px;
}
.header-img__about-block-text {
    padding-top: 53px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-img__about-block-text h1 {
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 44px;
    color: var(--black);
}
.header-img__about-block-text p {
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Roboto';
    margin-top: 15px;
}
.header-img__about-block-text div {
    margin-top: 22px;
}
.header-img__about-block-text button {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--wiht);
    background: var(--orang);
    border-radius: 35px;
    outline: none;
    border: none;
    padding: 5px 40px;
}
.header-img__about-block-text button:first-child {
    margin-right: 12px;
}
/* sponsors */
.sponsors {
    background: var(--black);
    padding: 15px 0;
}
.sponsors__block-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* boosted */
.boosted {
    padding: 0 5px 0 5px;
}
.boosted__text-blok {
    text-align: center;
    margin: 0 auto;
    max-width: 685px;
    position: relative;
}
.boosted__text-blok::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #CFCFCF;
    transform:translate(-50%,-50%);
    bottom: -25px;
}
.boosted__text-blok h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--black);
    margin-top: 52px;
    margin-bottom: 17px;
}
.boosted__text-blok p {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 18px;
}
.boosted__img-block {
    margin-top: 72px;
    display: flex;
    justify-content: center;
}
.boosted__img-block_block-1 {
    background: url(./img/Rectangle6.png) center/cover no-repeat;
    max-width: 580px;
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}
.boosted__img-block_block-2 {
    background: url(./img/Rectangle7.png) center/cover no-repeat;
    max-width: 580px;
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boosted__img-block h2 {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--wiht);
    margin: 11px 0 14px 0;
}
.boosted__img-block p {
    font-size: 18px;
    font-family: 'Roboto';
    color: var(--wiht);
    font-weight: 400;
}
/* electric-skateboards */
.electric-skateboards {
    background: url(./img/Rectangle8.png)  0 0/cover no-repeat;
    width: 100%;
    height: 736px;
    margin-top: 20px;
    position: relative;
}
.electric-skateboards__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 44px;
}
.electric-skateboards__text h2 {
    font-size: 45px;
    font-weight: 700;
    font-family: 'Roboto';
    color: var(--black);
    padding: 0;
    margin: 11px 0 15px 0;
    text-align: center;
}
.electric-skateboards__text p {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--black);
    max-width: 488px;
    line-height: 18px;
    text-align: center;
}
.electric-skateboards__text button {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--wiht);
    background: var(--orang);
    border-radius: 35px;
    outline: none;
    border: none;
    padding: 5px 40px;
    margin-top: 20px;
}
/* boosted-rev */
.boosted-rev {
    margin: 45px 0 45px 0;
}
.boosted-rev__block-img-text {
    display: flex;
    justify-content: center;
}
.boosted-rev__img {
    display: flex;
    justify-content: space-between;
}
.boosted-rev__img img {
    margin: 0 10px 0 10px;
}
.boosted-rev__text {
    max-width: 340px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boosted-rev__text h2 {
    margin: 0 0 21px 0;
    color: var(--black);
    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto';
}
.boosted-rev__text p {
    max-width: 339px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    line-height: 22px;
    font-family: 'Roboto';
}
.boosted-rev__text button {
    max-width: 101px;
    height: 33px;
    background: var(--orang);
    color: var(--wiht);
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    border-radius: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 18px;
}
/* shop-img */
.shop-img {
    display: flex;
    justify-content: center;
}
.shop-img__img-block_1 .shop-img__text-blokc > h2, .shop-img__img-block_2 .shop-img__text-blokc > h2, .shop-img__img-block_3 .shop-img__text-blokc > h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    color: var(--wiht);
    font-family: 'Roboto';
}
.shop-img__img-block_1 .shop-img__text-blokc > p, .shop-img__img-block_2 .shop-img__text-blokc > p, .shop-img__img-block_3 .shop-img__text-blokc > p {
    font-size: 18px;
    font-weight: 400;
    color: var(--wiht);
    font-family: 'Roboto';
    margin-top: 15px;
}
.shop-img__img-block_1 {
    background: url(./img/Rectangle11.png) center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 480px;
}
.shop-img__img-block_2 {
    background: url(./img/Rectangle12.png) center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 480px;
}
.shop-img__img-block_3 {
    background: url(./img/Rectangle13.png) center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 480px;
}
/* video */
.video {
    margin: 55px 0 64px 0;
}
.video-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.video-block iframe {
    margin: 0 10px 0 10px;
}
/* carusel */
.carusel__text h2 {
    text-align: center;
    font-size: 32px;
    color: var(--black);
    font-weight: 700;
    font-family: 'Roboto';
    position: relative;
}
.carusel__text h2::after {
    content: "";
    width: 70px;
    height: 2px;
    background: var(--gray);
    bottom: -22px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.carusel__slider p, .carusel__slider h3 {
    margin: 0;
    padding: 0;
}
.carusel__img-text h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--orang);
    padding-bottom: 3px;
}
.carusel__img-text span {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Roboto';
    margin-right: 4px;
}
.carusel__img-text span:nth-child(2n+1) {
    font-size: 14px;
    font-weight: 400;
    color: var(--orang);
    font-family: 'Roboto';
}
.carusel__img-text .carusel__sold {
    color: rgba(0, 0, 0, 0.3);
}
.carusel__sliders {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}